<?xml version="1.0"?>
<launch>

	<arg name="command_topic" default="cmd_vel" />

	<node pkg="wheelchair_control" type="keyboard_teleop.py" name="teleop_node" output="screen" launch-prefix="xterm -e">
		<param name="scale_linear" value="1.5" type="double"/>
		<param name="scale_angular" value="1.5" type="double"/>
		<remap from="cmd_vel" to="$(arg command_topic)" />
	</node>
</launch>
