<?xml version='1.0'?>
<launch>
  <!--Launch the tracking node -->
  <node pkg="visp_auto_tracker" type="visp_auto_tracker" name="visp_auto_tracker" output="screen">
    <param name="model_path" type="string" value="$(find wheelchair_camera)/models/QRcode_pattern" />
    <param name="model_name" type="string" value="pattern" />
    <param name="debug_display" type="bool" value="true" />
    <remap from="/visp_auto_tracker/camera_info" to="/wchair/camera_sensor/camera_info"/>
    <remap from="/visp_auto_tracker/image_raw" to="/wchair/camera_sensor/image_raw"/>
  </node>
  
  <!--Run node for set the position when a qr_code is detected
  <node pkg="test_ag" type="qr_pose_sim" name="qr_pose_sim" output="screen"/> -->
</launch>
