<?xml version='1.0'?>
<launch>
  <!-- ################################################################### -->
  <!-- Launch the tracking node 
  <node pkg="visp_tracker" type="tracker" name="tracker_mbt" output="screen">
    <param name="camera_prefix" value="/wchair/camera_sensor" />
    <param name="tracker_type" value="mbt+klt" />
  </node>-->
  <!-- Launch the client (GUI)
    <node pkg="visp_tracker" type="visp_tracker_client" name="tracker_mbt_client">
    <param name="model_path" value="package://cam_params_ag/models" />
    <param name="model_name" value="myBox" />
    <param name="tracker_type" value="mbt+klt" />
    <param name="frame_size" value="0.2" />-->
    <!-- Load recommended settings for tracking initialization. They
      will be automatically forwarded to the tracking node if the
      initialization succeed.
    <rosparam file="$(find cam_params_ag)/models/myBox/tracker.yaml" />
  </node> -->
    <!-- Launch the viewer (GUI)
  <node pkg="visp_tracker" type="visp_tracker_viewer" name="tracker_mbt_viewer">
  	<param name="frame_size" value="0.2" />
    <param name="tracker_name" value="tracker_mbt" />  
  </node> -->
  
    <node pkg="image_view" type="image_view" name="image_view" args="image:=//wchair/camera_sensor/image_raw">
  	<param name="width" type="int" value="640" />
    <param name="height" type="int" value="480" />
  </node>
</launch>
