<?xml version='1.0'?>
<launch>

	<arg name="world" /> 
	<arg name="navigation" /> 
	<arg name="fusion" /> 
	<arg name="amcl_broadcast_tf" default="true"/>
	
	<!-- ******************************************************************************************************************* -->
	
	<!-- Nodes for autonomous navigation -->
	<group if="$(arg navigation)">
	
		<!-- Run the map server -->
		<node name="map_server" pkg="map_server" type="map_server" args="$(find wheelchair_navigation)/maps/$(arg world)/$(arg world).yaml">
			<param name="frame_id" value="map"/>
		</node>

		<!-- Run AMCL -->
		<include file="$(find wheelchair_navigation)/launch/amcl.launch">
			<arg name="scan_topic" value="scan"/>
			<arg name="base_frame" value="base_footprint"/>
			<arg name="odom_frame" value="odom"/>
			<arg name="broadcast_tf" value="$(arg amcl_broadcast_tf)"/>
		</include>
		<node pkg="tf" type="static_transform_publisher" name="static_world_to_odom_publisher" args="0 0 0 0 0 0 /map /odom 100" unless="$(arg amcl_broadcast_tf)"/>
		
		<!-- Run Move Base -->
		<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
			<rosparam file="$(find wheelchair_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
			<rosparam file="$(find wheelchair_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
			<rosparam file="$(find wheelchair_navigation)/params/local_costmap_params.yaml" command="load" />
			<rosparam file="$(find wheelchair_navigation)/params/global_costmap_params.yaml" command="load" />
			<rosparam file="$(find wheelchair_navigation)/params/base_local_planner_params.yaml" command="load" />
			
			<remap from="/odom" to="/odometry/ekf_odom" />
			<remap from="/cmd_vel" to="/diff_drive_controller/cmd_vel" />
		</node>
	</group>
	
	
	<!-- Run RViz -->	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair_description)/config/wheelchair_navigation.rviz" if="$(arg navigation)"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair_description)/config/wheelchair_base.rviz" unless="$(arg navigation)"/>
	
	
	<!-- Publish a static TF map->odom if AMCL (or another global localizer) has not been launched -->
	<node pkg="tf" type="static_transform_publisher" name="static_world_to_odom_publisher" args="0 0 0 0 0 0 /map /odom 100" unless="$(arg navigation)"/>
	
	
	<!-- Run Kalman Filter for fused odometry and, eventually, the Ground Truth Broadcaster -->
	<include file="$(find wheelchair_navigation)/launch/ekf_odom.launch">
		<arg name="fusion" value="$(arg fusion)" />
		<arg name="output_topic" value="/odometry/ekf_odom" />
	</include>
	<node pkg="wheelchair_navigation" type="ground_truth_transform_broadcaster.py" name="ground_truth_transform_broadcaster" output="screen" unless="$(arg fusion)"/>
	
</launch>
