<?xml version='1.0'?>
<launch>

	<!-- ******************************************************************************************************************* -->
	
	<!-- ARGUMENTS -->
	
	<arg name="navigation" default="false"/>         <!-- Set to true to run autonomous navigation algorithms -->
	<arg name="teleoperation" default="false"/>		 <!-- Set to true to run teleoperation -->
	<arg name="world" default="empty_world"/>		 <!-- Gazebo world to be loaded -->
	
	<!-- ******************************************************************************************************************* -->
	
	
	<!-- Gazebo -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_gazebo.launch">
		<arg name="world" value="$(arg world)" />
	</include>
	
	<!-- Control -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_control.launch">
		<arg name="teleoperation" value="$(arg teleoperation)" />
	</include>
	
	<!-- Navigation -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_navigation.launch">
		<arg name="world" value="$(arg world)" />
		<arg name="navigation" value="$(arg navigation)" />
	</include>
	
	<node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering"/> 
	
	
	<!-- <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"/> -->
	
</launch>
