<?xml version='1.0'?>
<launch>

	<!-- ******************************************************************************************************************* -->
	
	<!-- ARGUMENTS -->
	
	<arg name="fusion" 		default="true"/>          <!-- Enable/Disable local and global EKF tf broadcasting (odom->base_footprint and map->odom, respectively) -->
	<arg name="navigation" 	default="false"/>         <!-- Set to true to run autonomous navigation algorithms (Map server, AMCL, Nav Stack) -->
	<arg name="qr" 			default="false"/>		  <!-- Set to true to run QR global localization -->
	
	<arg name="world" 		default="empty_world"/>	  <!-- Gazebo world to be loaded -->
	<arg name="use_pid"		default="true"/>		  <!-- Set to true to use the gazebo ros control pid loop (otherwise the velocity setopint will be forwarded to the joint -->
	
	<!-- ******************************************************************************************************************* -->
	
		
	<!-- Gazebo -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_gazebo.launch">
		<arg name="world" value="$(arg world)" />
		<arg name="use_pid" value="$(arg use_pid)" />
	</include>
	
	<!-- Control -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_control.launch" />
	
	<!-- Localization -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_localization.launch">
		<arg name="navigation" value="$(arg navigation)" />
		<arg name="fusion" value="$(arg fusion)" />
		<arg name="qr" value="$(arg qr)" />
	</include>
	
	<!-- Navigation -->
	<include file="$(find wheelchair_gazebo)/launch/wheelchair_navigation.launch" if="$(arg navigation)" >
		<arg name="world" value="$(arg world)" />
		<arg name="fusion" value="$(arg fusion)" />
	</include>
	
	<!-- RViz -->	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair_description)/config/wheelchair_navigation.rviz" if="$(arg navigation)"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find wheelchair_description)/config/wheelchair_base.rviz" unless="$(arg navigation)"/>
	
</launch>
