<?xml version='1.0'?>
<launch>
	
	<arg name="world" /> 
	
	<!-- ******************************************************************************************************************* -->
	
	<!-- Load the URDF Model -->
	<include file="$(find wheelchair_description)/launch/wheelchair_upload.launch" />
	
	<!-- Resume the logic in empty_world.launch -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find wheelchair_gazebo)/worlds/$(arg world).world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
	</include>
	
	<!-- Spawn the URDF in gazebo -->
	<node name="spawner_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" 
		  args="-urdf -model Wheelchair -param robot_description"
	/>

</launch>
