<?xml version='1.0'?>
<launch>


	<!-- Load ros_control controller configurations -->
	<rosparam file="$(find wheelchair_control)/config/joint_state_controller.yaml" command="load" />
	<rosparam file="$(find wheelchair_control)/config/diff_drive_controller.yaml" command="load" />

	<!-- Start the controllers -->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
		  args="joint_state_controller 
				diff_drive_controller"
	/> 

	<!-- Run the robot state publisher to publish TF -->
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
		<param name="publish_frequency" type="double" value="50.0" />
	</node>
	
	<!-- Run Teleoperation -->
	<include file="$(find wheelchair_control)/launch/keyboard_teleop.launch" >
		<arg name="command_topic" value="diff_drive_controller/cmd_vel" />
	</include>
	
</launch>
